@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
  font-family: 'SFPRODISPLAY';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/SFPRODISPLAYTHINITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/SFPRODISPLAYITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/SFPRODISPLAYBOLDITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('truetype');
}

@font-face {
  font-family: 'SFPRODISPLAY';
  font-style: italic;
  font-weight: 950;
  src: url('/fonts/SFPRODISPLAYBLACKITALIC.OTF') format('truetype');
} 

body {
  font-family: 'SFPRODISPLAY', sans-serif;
  
}